<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>


<% end %>

<% if current_user.admin? %>
	<form action=<%= "\"/articles/merge" + @article.id.to_s + "\"" %> method="POST">
		Article ID: <input type="text" name="merge_with"> <input type="submit" value="submit">
	</form>
<% end %>