<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>


<% end %>

<% if current_user.admin? %>
	<h3> Merge Articles </h3>
	<form action=<%= "\"/articles/merge/" + @article.id.to_s + "\"" %> method="POST">
		Article ID: <input id="merge_with" type="text" name="merge_with"> <br>
		<input type="submit" value="Merge">
	</form>
<% end %>